<div ng-controller="DetailController"  ng-attr-location="rental#detail">

	<super-navbar>
		<super-navbar-title>{{productName}}</super-navbar-title>
	</super-navbar>
	<img class='img-full' id='details-img' src='{{img}}'/>
	<div class="padding">
		<table class="details detailsTable">
			<tr>
				<td colspan="2" id="details-name">{{productName}}</td>
			</tr>
			<tr>
				<td><i class="icon super-person"></i></td>
				<td id="details-owner">{{username}}</td>
			</tr>
			<tr>
				<td><i class="icon super-social-usd"></i></td>
				<td id="details-price">{{productRate}}/hour</td>
			</tr>
			<tr>
				<td><i class="icon super-drag"></i></td>
				<td id="details-description">{{productDescription}}</td>
			</tr>
            <tr>
                <td></td>
                <td><i class="icon super-star" ng-repeat="a in range(productRating) track by $index"></i></td>
            </tr>
            <tr>
                <td><i class="icon super-calendar"></i></td>
                <td><input style="display: inline-block" id="datePicker" type="date"/><div style="visibility: hidden; color: #199b1a; padding-left: 5px; display: inline-block">Available!</div></td>
            </tr>
		</table>
	<button class="button button-block button-positive" ng-click="rentItem()">Rent now!</button>
</div>