<div ng-controller="DetailController"  ng-attr-location="rental#detail">

	<super-navbar>
		<super-navbar-title>{{productName}}</super-navbar-title>
	</super-navbar>
	<img class='img-full' id='details-img' src='{{img}}'/>
	<div class="padding">
		<table class="details">
			<tr>
				<td colspan="2" id="details-name">{{productName}}</td>
			</tr>
			<tr>
				<td><i class="icon super-person"></i></td>
				<td id="details-owner">{{username}}</td>
			</tr>
			<tr>
				<td><i class="icon super-social-usd"></i></td>
				<td id="details-price">{{productRate}}/hour</td>
			</tr>
			<tr>
				<td><i class="icon super-drag"></i></td>
				<td id="details-description">{{productDescription}}</td>
			</tr>
		</table>
		<p id='details-rating'>{{productRating}}</p>
	<button class="button button-block button-positive" ng-click="rentItem()">Rent now!</button>
</div>