<header>
	<script>
	document.ontouchmove = function(e){ e.preventDefault(); }
	</script>
</header>
<img class = 'img-full-bck' id='background-img' src='/img/background.jpg'/>
<div class="padding">
<div ng-controller="LoginController" class="padding">

		<div class="naybro-logo">
		<div class="nb-title">NayBro</div>

		<br />
		<br />
		<br />
 		<div class="nb-slogan">Renting made closer</div>
	</div>
		<div class="fb-login-div">
		<input type="text" ng-model="fbusername" placeholder="Use Facebook Username">
	  <button ng-click="logme()" class="button button-block button-balanced">Continue with Facebook</button>

	</div>
</div>
