<div ng-controller="myRentalsController" class="padding" ng-init="loadRentals()">

    <div class="list list-inset">
        <ul>
            <li ng-repeat="rental in rentalsResults">
            	<super-navigate>
                    <a class="item">
                        <img style='display: inline-block' class='img-mini' id='details-img' src='{{rental.img}}' />
                        <table class="details" style='display:inline-block'>
                            <tr>
                                <td><i class="icon super-pricetag"></i></td>
                                <td>{{rental.name}}</td>
                            </tr>
                            <tr>
                                <td><i class="icon super-android-expand"></i></td>
                                <td>{{rental.status}}</td>
                            </tr>
                        </table>
                    </a>
                </super-navigate>
            </li>
        </ul>
    </div>
</div>
