<div ng-controller="InboxController" class="padding">
	<super-navbar>
		<super-navbar-title>My Rentals</super-navbar-title>
	</super-navbar>
	<div class="list list-inset">
 		<super-navigate>
			<a class="item" ng-click="getDetails()">
				<img class='img-mini' id='details-img' src='https://i.ytimg.com/vi/61aM0DXpKkc/maxresdefault.jpg'/>
				<div style="display: inline-block">
					<p>5 stars</p>
					<p>Mr Ng</p>
					<p>Pick-up at Noyes</p>
				</div>
			</a>
		</super-navigate>
	</div>
</div>
