<div ng-controller="myRentalsController" class="padding" ng-init="loadRentals()">

    <div class="list list-inset">
        <ul>
            <li ng-repeat="rental in rentalsResults">
            	<super-navigate>
                    <a class="item {{rental.renter}}">
                        <img class='img-mini details' id='details-img' src='{{rental.img}}' />
                        <table class="details detailsTable">
                            <tr>
                                <td><i class="icon super-pricetag"></i></td>
                                <td>{{rental.name}}</td>
                            </tr>
                            <tr>
                                <td><i class="icon super-calendar"></i></td>
                                <td>{{rental.initialTime}}</td>
                            </tr>
                            <tr>
                                <td><i class="icon super-speedometer"></i></td>
                                <td style="color: #BABABA">{{rental.statusBefore}}<span class="{{rental.statusClass}}">{{rental.status}}</span>{{rental.statusAfter}}</td>
                            </tr>
                        </table>
                    </a>
                </super-navigate>
            </li>
        </ul>
    </div>
</div>
