<div ng-controller="newListingController" class="padding">

    <super-navbar>
		<super-navbar-title>New Listing</super-navbar-title>
	</super-navbar>
	<img class='img-full' id='details-img' src='{{img}}'/>
	<form novalidate ng-submit="getInput()">
        <div class="padding">
            <table class="details">
                <tr>
                    <td colspan="2" id="details-name">
                        <input type="text" placeholder="Item Name" ng-model="listing.name">
                    </td>
                </tr>
                <tr>
                    <td><i class="icon super-person"></i></td>
                    <td id="details-owner">{{username}}</td>
                </tr>
                <tr>
                    <td><i class="icon super-social-usd"></i></td>
                    <td id="details-price">
                        <input type="number" ng-model="listing.rate">
                        /hour
                    </td>
                </tr>
                <tr>
                    <td><i class="icon super-drag"></i></td>
                    <td id="details-description">
                        <input type="textarea" placeholder="Item Description" ng-model="listing.description">
                    </td>
                </tr>
            </table>
            <input class="button button-block button-positive" type="submit" ng-click="update(listing)" value="List Item!" />
        </div>
    </form>
</div>
