<div class="padding" ng-controller="SearchController">
	<super-navbar>
		<super-navbar-title>{{navbarTitle}}</super-navbar-title>
	</super-navbar>

	<div class="list list-inset">
		<label class="item item-input">
			<i class="icon super-search placeholder-icon"></i>
			    <form novalidate ng-submit="getInput()">
                    <input type="text" placeholder="Search" ng-model="searchInput" id="search">
                </form>
		</label>
   
		<ul>
			<li ng-repeat="result in searchResults">
				<super-navigate location="rental#detail" data-params-id="{{result.Pid}}">
					<a class="item">
						<img style='display: inline-block' class='img-mini' id='details-img' src='{{result.Img}}'/>
						<table class="details detailsTable">
							<tr>
								<td><i class="icon super-pricetag"></i></td>
								<td>{{result.Name}}</td>
							</tr>
							<tr>
								<td><i class="icon super-social-usd"></i></td>
								<td>{{result.Rate}}/hr</td>
							</tr>
							<tr>
								<td></td>
								<td><i class="icon super-star" ng-repeat="a in range(result.Rating) track by $index"></i></td>
							</tr>
						</table>
					</a>
				</super-navigate>
			</li>
			<li ng-show="!searchResults.length">
                <div class="no-results"> No results found... </div>
            </li>
		</ul>
	</div>
</div>
