.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}
.profileContainer {
	align: center;
	padding: 50px;
}
.profileDetails {
	height: 200px;
	margin-left: 50px;
	padding-top: 20px;
	display: inline-block;
}
.profileDetails table {
	vertical-align: middle;
	padding-top: 50%;
	padding-bottom: 50%;
}
.profileDetails td {
	padding: 10px;
	font-size: 20px;
}

.renter {
	background-color: #F4F4F4
}

.orange {
	color: #C98200;
}
.yellow {
	color: #C9C920;
}
.green {
	color: #3DAA46;
}
.blue {
	color: #2061c9;
}
.purple {
	color: #6716AA;
}

.details {
	display: inline-block;
}
.details td {
	padding: 5px;
}

#details-name {
	font-size: 32px;
	padding-bottom: 4px;
}

.img-full {
	width: 100%;
}
.img-mini {
	width: 30%;
}
.img-circle-div {
	display: inline-block;
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.img-circle-div img{
	display: block;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
.img-full-bck{
  width: 100%;
  opacity: 0.1;

}
.naybro-logo {
  position: fixed;
    top: 25%;
    left: 15%;
    width: 75%;
    height: 50%;
    text-align: center;
}
.fb-login-div{
  position: fixed;
  top: 55%;
  left:25%;
}
.nb-title{
  font-size: 500%;
  font-weight: bold;
}
.nb-slogan{
  font-size: 200%;
  position: relative;

}



.no-results {
	padding: 10px;
	color: #63717f;
	font-style: italic;
}
