<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="product['Rate']"></h2>
      
      
      
       <p>Pid: <span ng-bind="product['Pid']"></span></p> 
      
       <p>Uid: <span ng-bind="product['Uid']"></span></p> 
      
       <p>Name: <span ng-bind="product['Name']"></span></p> 
      


      <super-modal-show location="product#edit?id={{ product.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(product.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
